<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<header>
    <h1><a href="{{url_for('home')}}" style="color:white">Home</a>
        <a href="{{url_for('resume')}}" style="color:white;margin-left:10px">Resume</a>
        <a href="{{url_for('about_me')}}" style="color:white;margin-left:10px">About Me</a>
        <a href="{{url_for('contacts')}}" style="color:white;margin-left:10px">Contact Me</a>



    </h1>
</header>
<body class="body">
<div >
        <h1 id="about_me" style="text-align:center">
            About Me
        </h1>
    </div>
    <div>
        <h1 id="about_quote">
            "
                .oval-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(your_image.png);
  background-size: cover; /* Optional */             .oval-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(your_image.png);
  background-size: cover; /* Optional */

                                         }
            "
        </h1>
    </div>
</body>
</html>