<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="static/style.css">
        <script src="https://kit.fontawesome.com/80cf52aa94.js" crossorigin="anonymous"></script>

</head>

<header class="header_block" id="myHeader" style="z-index: 100">

    <h1><a class="button_links" href="{{url_for('home')}}" >Home</a>
        <a class="button_links" href="#res_link" >Resume</a>
        <a class="button_links" href="#ab_link" >About Me</a>
        <a class="button_links" href="#con_link" >Contact Me</a>
    </h1>

</header>

<body class="body">

    <div>
        <h1 id="borderLeft">
            Tavian Rouson
        </h1>

    </div>
    <div id="des">
        <h2>
            This is my personal website, meant to display my
            developer skills via my resume, and links to my projects
            including this website itself. While also giving you an insight
            to who I am. Along with the opportunity to reach out whether
            that be for feedback on my work, collaborations, or
            any possible employers looking for a new member for their
            team! Thank you for visting I look forward to meeting you!
        </h2>
    </div>
    <div id="res_link"></div>
     <div >
        <h1 id="resume" style="text-align:center">
            Resume
        </h1>
    </div>
    <div class="resume_block">
        <h3 id="name">Tavian Rouson</h3>
        <h4 class="resume_text">
            Personal Info
        </h4>
        <hr id="hr_2">
        <h4 id="resume_info">
Date of birth: 08/1/1995<br>
Nationality: American<br>
Location: Coralville, Iowa<br>
Email address:rtavian.rouson@gmail.com<br>
Web: www.Tavian'sPersonalSite.com<br>
        </h4>
        <br>
        <h4 class="resume_text">
            Work History
        </h4>
        <hr id="hr_1">
        <h4 id="work_history_info">

Employer: Quality Care Lawn Care Company <br>
Job Title: Lawn care Technician<br>
Location: 428 Westcor Dr, Coralville Ia<br>
Duration: March 2023 to present<br>
Responsibility: Certified tech , primarily tasked with applying fertilizer and herbicide to turf.<br>
<br><br>
Employer: Safelite<br>
Job Title: Third party claims rep.<br>
Location: remote<br>
Duration: June 2022 to March 2023<br>
Responsibility: Answer inbound calls from insured customers from various insurance companies nationwide. Primary task was filing glass claims for the insured and setting them up with appointments to get the glass damage fixed as well as upselling windshield wipers.<br>
<br><br>
Employer: Hyvee<br>
Job Title: Customer service rep.<br>
Location: 3285 Crosspark rd<br>
Duration: March 2022 to June 2022<br>
Responsibility: Ran the seafood market. Primarily tasked with helping customers with seafood purchases over the counter along with stocking products and recording inventory, as well as cleaning the department.<br>
<br><br>
Employer: Iowa Community School District<br>
Job Title: Custodian<br>
Location: 1725 North Dodge st, Iowa City Ia<br>
Duration: August 2019 to March 2022<br>
Responsibility: Night custodian at Hoover Elementary and SE Junior High school, primarily tasked with cleaning the facilities.<br>


        </h4>
<i class="fa-solid fa-pencil" id="pencil_emote">
</i>
        <ul class="hobbies_text">
            <li >
                I love drawing, I started as a kid. My favorite is
                doing portraits.
            </li>
            <br/>

            <br/>
            <li>
                Music has been a staple in my life for a long time.
                It's a great way to amplify whatever mood I'm in.
            </li>
             <br/>

            <br/>
            <li>
                Huge tv guy, this includes movies and tv shows. I have
                a wide variety in taste from anime to thrillers and even
                my guilty pleasure reality tv.
            </li>
             <br/>

            <br/>
            <li>
                I'm big on sports, specifically basketball. I'm a lakers
                fan, shout out purple and gold. I also enjoy football ,
                I've been a part of steelers nation since elementary school.
            </li>
            <br/>

            <br/>
            <li>
                From the ps1 to the gameboy advance all the way to the current
                gen systems I've been invested in the gaming community. Some of my
                favorite games include in no order, Elden Ring, Gears of War 2,
                and Assassin's Creed Black Flag. All great games in their own
                right.
            </li>
        </ul>
        <br>
        <h4 class="resume_text" id="skills" >
            Skills
        </h4>
        <hr id="hr_3" >

            <ul class="skills_text" id="skills_list">
                <li>
                    Python language
                </li>
                <br>
                <li>
                    Html
                </li>
                <br>
                <li>
                    Css
                </li>
                <br>
                <li>
                    Flask
                </li>
                <br>
            </ul>
            <ul class="skills_text" id="skills_list_2">
                <li>
                    RESTFUL APIs
                </li>
                <br>
                 <li>
                    SQL
                </li>

            </ul>
        <h4 class="education_text">
            Education History
        </h4>
        <hr id="hr_4" >
        <ul id="education_history_info">
           <li>
               West High School Iowa City , IA -  High School diploma<br>
           </li>
               <br><br>
           <li>
                Udemy-  Online courses for computer programming for full stack development.<br>
           </li>
        </ul>
        <h4 class="hobbs_text">
            Hobbies
        </h4>
        <hr id="hr_5" >


        <i class="fa-solid fa-headphones" id="headphones_emote"></i>
        <i class="fa-solid fa-tv" id="tv_emote"></i>
        <i class="fa-solid fa-basketball" id="basketball_emote"></i>
        <i class="fa-solid fa-gamepad" id="game_emote"></i>

    </div>
    <div id="ab_link"></div>
 <div >
        <h1 id="about_me" style="text-align:center">
            About Me
        </h1>
    </div>
    <div>
        <h1 id="about_quote">

              Hello, my name is Tavian I'm 29 yrs old, and I'm an aspiring full stack developer. I've always had a love for technology, specifically computers. Back in 4th grade I was learning how to customize the html of myspace backgrounds.  At the time I didn't realize the value in programming, it was just something I did for fun and in certain situations out of necessity.
 I'm self-taught via online courses through YouTube videos, and I still refer to them when needed. That's the beauty of coding, it's very accessible and there are many resources if you really want to learn. Just like a basketball player wakes up eager to perfect their craft, I wake up every day with that same thirst and eagerness to perfect mine as well. That's a big reason I'm striving hard to join a team of like-minded individuals who can teach me what they know to become a better programmer, and improve my skills.
  I look forward to meeting you all, getting to know you and creating new experiences. Thank you for visiting my site!




        </h1>
    </div>
    <div id="con_link"></div>
    <div >
        <h1 id="contact_me" style="text-align:center">
            Contact Me
        </h1>
    </div>
<div class="container">
          <div class="block">
          <h2 style="color:black">MY LINKS</h2>
          <p id="small"><a href="https://www.linkedin.com/in/tavian-rouson-7926b6210?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BgfVxm95ERe2byBR7p%2FsW6A%3D%3D" style="color:white;margin-left:10px">
              <img height="100px" style="margin-right:10px" src="https://static-00.iconduck.com/assets.00/linkedin-with-circle-icon-512x512-cvyrro5n.png">
          </a>
              <br>
          <a href="https://x.com/RousonTavian" style="color:white;margin-left:10px">
              <img height="125px" style="margin-right:10px" src="https://cdn.icon-icons.com/icons2/4029/PNG/512/twitter_x_new_logo_x_rounded_icon_256078.png">
          </a>
                 <br>
          <a href="https://github.com/TayIsAcHeatCode711" style="color:white;margin-left:10px">
              <img height="115px" style="margin-right:10px" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_circle_black-512.png">
          </a>
          </p>
          <i class="fa-solid fa-envelope fa-6x"></i>
          <h2>tavianrouson@gmail.com</h2>
          </div>
        </div>
<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
</body>
<footer id="footer">
    Good Job
</footer>

</html>